{% load query_parameters %}
{% load galery_extras %}

<div class="row">
  {% for page in page_obj.paginator.page_range %}
  {% if request.GET.tag and not request.GET.artist_id %}
  <a href="?{% set_query_parameters page=page tag=request.GET.tag %}">
    {% elif request.GET.artist_id and not request.GET.tag %}
      <a href="?{% set_query_parameters page=page artist_id=request.GET.artist_id %}">
    {% elif request.GET.artist_id and request.GET.tag %}
      <a href="?{% set_query_parameters page=page artist_id=request.GET.artist_id tag=request.GET.tag %}"></a>
    {% else %}
      <a href="?page={{ page }}" class="page-link">
    {% endif %}
      {% if page_obj.number == page %}
        <strong>
      {% endif %}

      {{ page }}

      {% if page_obj.number == page %}
        </strong>
      {% endif %}

      {% if page in page_ranges %}
        {% for page_range in page_ranges|return_item:page %}
          <span class="page-range-name">
            {{ page_range.name }}
          </span>
        {% endfor %}
      {% endif %}

      &nbsp;
    </a>
  {% endfor %}
</div>
