{% extends "./layout.html" %}
{% load thumbnail %}
{% load galery_extras %}

{% block main %}
  <h1>
    Images
  </h1>

  {% include './_tag_list.html' %}
  {% include './_categories.html' %}
  {% include './_paginator.html' %}

  <div>
    {% for chunk in page_obj|chunks:5 %}
      <div class="row">
        {% for image in chunk %}
          <div class="column column-20">
            <div>
              <a href="{{image.image.url}}" target="_blank">
                <img src="{% thumbnail image.image '200x200' %}">
              </a>
            </div>

            <div>
              [ <a href="#" class="tag-button" data-image="{{ image.pk }}">Add tag</a> ]
            </div>

            <div>
              {% for tag in image.tags.all %}
                <a href="?tag={{ tag.name }}">{{tag.name}}</a>
                &nbsp;
              {% endfor %}
            </div>

            <div>
              {% artist_name image artists %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  {% include './_paginator.html' %}
  {% include './_tag_selector.html' %}
{% endblock %}
